*{
    margin: 0;
    padding: 0;
    border-style: border-box;
}

body{
    background: #f4f6f9;
}
.top-bar{
    height: 70px;
    box-shadow: 10px 11px 16px -3px rgb(230, 219, 219);
    background: #ffffff;
    border: 1px dottted black;
}